*{
    padding : 0px;
    margin : 0px;
    
}

body{
   
    margin : 0px;
    padding : 0px;
    /* overflow:hidden; */
}

.main-container{
    background-color: black;
    display: flex;
    gap: 10px;
    padding : 20px;
}

.wrapper{
    background-color:#1E1E1E;
    color : white;
    /* height: 100vh; */
}

.left{
    /* border: 2px solid red; */
    width: 20%;
    
    border-radius: 35px;
}

.right{
    /* border: 2px solid red; */
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    gap : 10px;
}

.content{
    width: 100%;
    height: 54%;
    /* border: 1px solid red; */
    border-radius: 35px;

    display: flex;
    flex-flow : row wrap;
    padding: 1%;
}

.movies{
    width: 100%;
    height: 40%;
    /* border: 1px solid red; */
    border-radius: 35px;

    display: flex;
    flex-flow : row wrap;
     padding: 1%;
}

div.info{
    display: block;
    margin:auto;
    text-align: center;
}

.info img{
    width: 222px;
    padding: 35px 25px 5px 25px;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin: 10px;
}

p,th,td{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #a2a1a1  ;
    margin: 15px;
    line-height:22px;
}

button{
    display:block;
    margin : 20px auto;
    width : 85%;
    height:50px;
    border-radius: 30px;
    background-color: black;
    /* padding : 17px 0px; */
    padding: auto;
}

.contact{
    margin-top: 50px;
}


.heading{
    /* border: 2px solid red; */
    width: 100%;
    height: 10%;
}

.content.details{
    /* border: 2px solid red; */
    width: 42%;
    height: 80%;
    padding: 8px;
}

 .content.image{   
    width:54%;
    height: 80%;
    padding:5px;
    margin: 5px 0px 0px 5px;
} 

 .content img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.movies .table{
    /* border: 2px solid red; */
    width: 100%;
    height:  70%;
}

table{
    border: 2px solid rgb(109, 100, 100);
    margin: 5px 15px;
    width: 95%;
    border-radius: 15px; 
}
td,th {
    /* border: 2px solid rgb(109, 100, 100); */
    margin: 5px 15px;
    padding: 10px;
    text-align: left;
  }